.header {
  background: #16191c;
  border-bottom: 1px solid #2e3840;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
  left: 0;
  position: fixed;
  right: 0;
  padding: 1rem;
  top: 0;
  z-index: 1002;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
      margin-left: 20px;
    }
  }

  .notLogged {
    display: flex;
    text-decoration: none;
    align-items: center;

    p {
      color: white;
      margin-right: 20px;
      cursor: pointer;
      div {
        transform: scale(1.3);
      }
      .ActNotiIcon {
        color: rgb(255, 255, 255);
        transform: scale(1.3);
        animation: notificatioAction 5s infinite linear;
      }
    }
    a {
      text-decoration: none;
    }
    li {
      list-style: none;
      color: white;
      font-size: large;
      font-weight: 400;
      margin-right: 20px;
    }
  }
}

.subHeader {
  margin: 20px 10px;
  color: #bbc4cc;
  h2 {
    font-size: 1.5rem;
  }
}

@keyframes notificatioAction {
  0% {
    transform: scale(1.3) rotate(10deg);
  }
  5% {
    transform: scale(1.3) rotate(0deg);
  }
  8% {
    transform: scale(1.3) rotate(-10deg);
  }

  12% {
    transform: scale(1.3) rotate(0deg);
  }
  15% {
    transform: scale(1.3) rotate(10deg);
  }

  18% {
    transform: scale(1.3) rotate(0deg);
  }

  21% {
    transform: scale(1.3) rotate(-10deg);
  }
  24% {
    transform: scale(1.3) rotate(0deg);
  }

  25% {
    transform: scale(1.3) rotate(10deg);
  }
  30% {
    transform: scale(1.3) rotate(0deg);
  }

  35% {
    transform: scale(1.3) rotate(-10deg);
  }
  40% {
    transform: scale(1.3) rotate(0deg);
  }

  45% {
    transform: scale(1.3) rotate(0deg);
  }
  100% {
    transform: scale(1.3) rotate(0deg);
  }
}
