.otpPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
  border-radius: 5px;
  background-color: #16191c;

  p {
    color: white;
    text-align: center;
  }

  input {
    padding: 1rem;
    background-color: #2e3439;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    width: 70%;
  }

  button {
    background-color: #00c5fb;
    color: white;
    cursor: pointer;
    padding: 1rem;
    width: 90%;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
  }

  div {
    display: flex;
    p {
      margin-top: 10px;
    }
  }
}
