.resetPasswordMain {
  margin: 10px;
  width: 98%;


  form {
    background-color: #16191c;
    border-radius: 3px;
    border: 1px solid rgba(228, 228, 228, 0.10);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 98%;
    padding-bottom: 20px;
  }
}
